* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

.center {

	display: block;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 0;
  	margin-bottom: 0;
  	padding: 0;
  	

}

#scoop {

margin-left:500px;
}

#shop {
	
	margin-left: 900px;
}