<!DOCTYPE html>
<html>
    <head>
        <title>Let your voice be heard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_voting.css') }}">
    </head>

    <body>
        <!-- action has to become submit vote intead of flavor for later -->
          <form action = "/vote" method = "POST">


       		<input type="radio" name="option" value ="option1">option 1 
       		<button>+</button>
                  
       		<input type="radio" name="option" value="option2">option2
       		<button>+</button>
      
       		<input type="radio" name="option">option3
       		<button>+</button>

       		<input type="radio" name="option">option4
       		<button>+</button>
                  
       		<input type="radio" name="option">option5
       		<button>+</button>
                  <br>
       		<input type="radio" name="option">option6
       		<button>+</button>
                  
       		<input type="radio" name="option">option7
       		<button>+</button>
       		
                  <input type="radio" name="option">option8
       		<button>+</button>
                  
       		<input type="radio" name="option">option9
       		<button>+</button>
       		
                  <input type="radio" name="option" value="option">option10 
       		<button>+</button>
                  <br>
                  <br>
                  Please insert your information to save your choice!
                  <br>
                  First Name
                  <input type="text" name="name" placeholder="First Name">
                   <br>
                  Email Address
                  <input type="text" name="user_email" placeholder="Email Address">

                  <br> 
                  <input type='submit' value="Submit">

       </form>
      
    </body>
</html>
